{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_header %}
    {{ parent() }}
    <h1>Test</h1>
    {{ dump(wwf_donation_plugin) }}
{% endblock %}