.idea

composer1.phar
composer.phar

wp/wp-cli.phar
wp/wwf-donations-plugin/wp-content
wp/wwf-donations-plugin/images
wp/wwf-donations-plugin/scripts/banner.js
wp/wwf-donations-plugin/scripts/banner.min.js
wp/wwf-donations-plugin/banner.css
wp/wwf-donations-plugin/build/*.map

vendor
node_modules

wp/wp

release

assets/dist

# sw specific stuff
# remove all except the plugin
shopware/sw6/src/*
!shopware/sw6/src/custom/
!shopware/sw6/src/composer.json

shopware/sw6/src/bin
shopware/sw6/src/config
shopware/sw6/src/files
shopware/sw6/src/public
shopware/sw6/src/src
shopware/sw6/src/var

# images are copied from assets package in this repo and should not be stored twice
#shopware/sw6/src/custom/plugins/WWFDonationPlugin/images

.phpunit.result.cache