.idea

composer.phar

wp/wp-cli.phar
wp/wwf-donations-plugin/wp-content
wp/wwf-donations-plugin/images
wp/wwf-donations-plugin/banner.css
wp/wwf-donations-plugin/build/*.map

vendor
node_modules

wp/wp

release

assets/dist

# sw specific stuff
# remove all except the plugin
shopware/src/*
!shopware/src/custom/
!shopware/src/composer.json

shopware/src/bin
shopware/src/config
shopware/src/files
shopware/src/public
shopware/src/src
shopware/src/var


# images are copied from assets package in this repo and should not be stored twice
shopware/src/custom/plugins/WWFDonationPlugin/images

.phpunit.result.cache