{% block sw_cms_block_wwf_banner %}
    <div class="sw-cms-block-wwf-banner">
        <slot name="content">{% block sw_cms_block_commerce_wwf_banner_slot_content %}{% endblock %}</slot>
    </div>
{% endblock %}