<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>General Plugin Configuration</title>
        <title lang="de-DE">Allgemeine Spendenplugin Einstellungen</title>

        <input-field type="single-select">
            <name>wwfDonationsReportingInterval</name>
            <defaultValue>monthly</defaultValue>
            <label>Donation report interval</label>
            <label lang="de-DE">Regelmäßige Spendenberichte generieren</label>
            <options>
                <option>
                    <id>quarterly</id>
                    <name>Quarterly</name>
                    <name lang="de-DE">Quartalsweise</name>
                </option>
                <option>
                    <id>monthly</id>
                    <name>Monthly</name>
                    <name lang="de-DE">Monatlich</name>
                </option>
                <option>
                    <id>weekly</id>
                    <name>Weekly</name>
                    <name lang="de-DE">Wöchentlich</name>
                </option>
            </options>
        </input-field>

        <input-field type="int">
            <name>wwfDonationsReportingLiveDaysInPast</name>
            <label>Live-Reporting - Days in past</label>
            <label lang="de-DE">Live-Berichte - Tage in die Vergangenheit</label>
            <defaultValue>30</defaultValue>
        </input-field>

        <input-field type="text">
            <name>wwfDonationsReportingRecipient</name>
            <label>Mail-Recipient of donation reports</label>
            <label lang="de-DE">Empfangsadresse der Spendenberichte</label>
            <defaultValue>eshop-spenden@wwf.de</defaultValue>
            <disabled>true</disabled>
            <copyable>true</copyable>
        </input-field>
    </card>

    <card>
        <title>Cart Page Integration</title>
        <title lang="de-DE">Warenkorbintegration</title>

        <input-field type="bool">
            <name>isCartIntegrationActive</name>
            <label>Enable cart integration of the WWF banner</label>
            <label lang="de-DE">Warenkorbintegration des WWF-Banners aktiviert</label>
            <defaultValue>false</defaultValue>
            <helpText>If enabled the WWF Banner will be shown in the cart page.</helpText>
            <helpText lang="de-DE">Wenn aktiviert, dann wird ein WWF-Banner auf der Warenkorbseite angezeigt werden.
            </helpText>
        </input-field>

        <input-field type="single-select">
            <name>wwfDonationsMiniBannerCampaign</name>
            <label>Banner campaign</label>
            <label lang="de-DE">Bannerkampagne</label>
            <defaultValue>protect_species_coin</defaultValue>
            <required>true</required>
            <placeholder>Please select a campaign you want to support</placeholder>
            <placeholder lang="de-DE">Bitte Spendenkampagne auswählen</placeholder>
            <options>
                <option>
                    <id>protect_species_coin</id>
                    <name>Protection of species</name>
                    <name lang="de-DE">Artenschutz</name>
                </option>
                <option>
                    <id>protect_ocean_coin</id>
                    <name>Ocean protection</name>
                    <name lang="de-DE">Meeresschutz</name>
                </option>
                <option>
                    <id>protect_forest_coin</id>
                    <name>Forest protection</name>
                    <name lang="de-DE">Waldschutz</name>
                </option>
                <option>
                    <id>protect_climate_coin</id>
                    <name>Climate protection</name>
                    <name lang="de-DE">Klimaschutz</name>
                </option>
                <option>
                    <id>protect_diversity_coin</id>
                    <name>Protection of biodiversity</name>
                    <name lang="de-DE">Biodiversität</name>
                </option>
            </options>
        </input-field>

        <input-field type="bool">
            <name>wwfDonationsMiniBannerShowMiniCart</name>
            <label>Show as mini banner</label>
            <label lang="de-DE">Als Mini-Banner anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <component name="wwf-banner-page-selector">
            <name>wwfDonationsMiniBannerCampaignTargetPage</name>
            <entity>category</entity>
            <required>true</required>
            <label>Category target page of the 'more information' reference</label>
            <label lang="de-DE">Zielseite (Kategorie) des 'Weitere Informationen'-Links</label>
        </component>
    </card>

    <card>
        <title>Reporting information</title>
        <title lang="de-DE">Berichtsinformationen</title>

        <input-field type="datetime">
            <name>wwfDonationsReportingLastGenerationDate</name>
            <label>Last report generation</label>
            <label lang="de-DE">Letzte Berichtserzeugung</label>
            <copyable>true</copyable>
            <disabled>true</disabled>
        </input-field>

        <input-field type="datetime">
            <name>wwfDonationsReportingLastCheckDate</name>
            <label>Last report generation check</label>
            <label lang="de-DE">Letzte Prüfung der Berichtserzeugung</label>
            <copyable>true</copyable>
            <disabled>true</disabled>
        </input-field>

        <input-field type="int">
            <name>wwfDonationsReportingCounter</name>
            <label>Report counter</label>
            <label lang="de-DE">Erzeugte Berichte</label>
            <copyable>true</copyable>
            <disabled>true</disabled>
        </input-field>
    </card>
</config>