{% block sw_cms_element_wwf_banner %}
    <div class="sw-cms-el-wwf-banner">
        <p v-if="campaignMode && campaignMode.value && isMiniBannerEnabled">
            [
            <strong>{{ $tc('sw-cms.elements.wwfBanner.campaignMode.label') }}
                :</strong> {{ $tc("wwf-campaign-labels." + campaignMode.value) }} |
            <strong>{{ $tc('sw-cms.elements.wwfBanner.isMiniBannerEnabled.label') }}:</strong>
            {{ $tc("sw-cms.elements.wwfBanner.isMiniBannerEnabled." + isMiniBannerEnabled.value) }}
            ]
        </p>
        <div class="sw-cms-el-wwf-banner__image">
            <img :src="'/wwfdonationplugin/static/banner_sample_image_' + campaignMode.value + '-l.png' | asset"
                 alt="WWF Germany campaign banner preview"/>
        </div>
    </div>
{% endblock %}