{#
 Copyright 2020-2021 EXXETA AG, Marius Schuppert

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>.
#}
{% block wwf_banner_donation_reports_list_view %}
    <sw-page class="wwf-banner-donation-reports-list-view">
        {% block wwf_banner_donation_reports_list_view_search_bar %}
            <template slot="search-bar">
                <sw-search-bar :initialSearchType="$tc('wwfPluginAdminIntegration.donationReports.full')"
                               :typeSearchAlwaysInContainer="false"
                               :initialSearch="term"
                               @search="onSearch">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block wwf_banner_donation_reports_list_view_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block wwf_banner_donation_reports_list_view_smart_bar_header_title %}
                    <h2>
                        {% block sw_newsletter_recipientlist_list_smart_bar_header_title_text %}
                            {{ $tc('global.sw-admin-menu.navigation.mainMenuItemMarketing') }}
                            <sw-icon name="small-arrow-medium-right" small></sw-icon>
                            {{ $tc('wwfPluginAdminIntegration.donationReports.label') }}
                        {% endblock %}
                        {% block wwf_banner_donation_reports_list_view_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                                ({{ total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block wwf_banner_donation_reports_list_view_content %}
            <template slot="content">
                <div class="wwf-banner-donation-reports-list-view__content">
                    {% block wwf_banner_donation_reports_list_view_grid %}
                        <sw-entity-listing
                                v-if="reports"
                                class="wwf-donation-reports-list__grid"
                                slot="grid"
                                :isLoading="!reports"
                                :columns="donationReportColumns"
                                :repository="reportRepository"
                                :items="reports"
                                @update-records="updateTotal"
                                :showSelection="false"
                                :showActions="false"
                                :showSettings="false"
                                :allowEdit="false"
                                :allowColumnEdit="false"
                                :allowInlineEdit="false"
                                :allowDelete="false">
                        </sw-entity-listing>
                    {% endblock %}

                    {% block wwf_banner_donation_reports_list_view_grid_loader %}
                        <sw-loader v-if="isLoading"></sw-loader>
                    {% endblock %}
                </div>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}