{#
 Copyright 2020-2021 EXXETA AG, Marius Schuppert

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>.
#}
{% block sw_cms_element_config_wwf_banner %}
    <div class="sw-cms-el-config-wwf-banner">
        <sw-single-select class="wwf-banner-field" size="medium"
                          :options="allModes"
                          v-model="campaignMode.value"
                          :label="$tc('sw-cms.elements.wwfBanner.campaignMode.label')"
                          @element-update="onElementUpdate">
        </sw-single-select>
        <br/>
        <sw-checkbox-field :label="$tc('sw-cms.elements.wwfBanner.isMiniBannerEnabled.label')"
                           v-model="isMiniBannerEnabled">
        </sw-checkbox-field>

        <div v-if="isMiniBannerEnabled">
            <sw-entity-single-select entity="category"
                                     size="medium"
                                     :required="isMiniBannerEnabled"
                                     v-model="miniBannerTargetCategory"
                                     :criteria="pageCategoryCriteria"
                                     :label="$tc('sw-cms.elements.wwfBanner.miniBannerTargetCategory.label')"
                                     :placeholder="$tc('sw-cms.elements.wwfBanner.miniBannerTargetCategory.placeholder')">

            </sw-entity-single-select>
            <br/>
        </div>
        <sw-checkbox-field
                :label="$tc('sw-cms.elements.wwfBanner.isOffCanvasDisplayed.label')"
                v-model="isOffCanvasDisplayed">
        </sw-checkbox-field>
    </div>
{% endblock %}