/* flex container */
.cart-donation-banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    background-color: #e9ebd7;
    margin: 0.5rem auto;
}

.cart-donation-banner .col-left,
.cart-donation-banner .col-right {
    /* common styles of both cols */
    position: relative;
    box-sizing: border-box;
}

/* flex item */
.cart-donation-banner .col-left {
    flex-basis: 100%;
    -ms-flex: auto;
    min-height: 75px;
    height: auto;
    order: 1;
    background-image: url(../images/banner_default_wwf.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* flex item */
.cart-donation-banner .col-right {
    flex-basis: 100%;
    order: 2;
    padding: 0 1rem 1rem;
    word-wrap: break-word;
}

.cart-donation-banner .col-right .donation-campaign-description {
    font-weight: bold;
    font-size: 140%;
    word-wrap: break-word;
    line-height: 110%;
}

.cart-donation-banner .col-right .donation-campaign-details {
    font-weight: 300;
    font-size: 110%;
    word-wrap: break-word;
    line-height: 110%;
}

.cart-donation-banner .col-right .donation-campaign-order .times {
    margin: 0 0.75rem;
    font-weight: bold;
}

.cart-donation-banner .col-right .donation-campaign-logo {
    height: 5rem;
    width: auto;
}
/* form controls */
.cart-donation-banner .col-right .donation-campaign-quantity-input {
    height: 36px;
    width: 5rem;
    display: inline;
    margin-bottom: 0;
}
.cart-donation-banner .col-right button.donation-campaign-submit {
    height: 36px;
    display: inline-block;
    background-color: #ff0039;
    color: #ffffff;
    margin-left: 1.5rem;
    margin-bottom: 0;
}
.cart-donation-banner .col-right button.donation-campaign-submit .cart-icon {
    width: 15px;
    height: auto;
    margin-right: 0.5rem;
    vertical-align: -1px;
}

/* media queries to make everything responsive */
@media (max-width: 300px) {
    /* hide banner on very small screens */
    .cart-donation-banner .col-left {
        display: none;
    }
}

@media (min-width: 300px) {
    .cart-donation-banner .col-left {
        min-height: 100px;
    }
}

@media (max-width: 550px) {
    .cart-donation-banner .col-left {
        flex-basis: 100%;
    }

    .cart-donation-banner .col-right {
        flex-basis: 100%;
        padding: 0.25rem;
    }

    .cart-donation-banner .col-right .donation-campaign-description {
        font-size: 110%;
    }

    .cart-donation-banner .col-right .donation-campaign-details {
        font-size: 90%;
    }
}

@media (min-width: 550px) {
    .cart-donation-banner .col-left {
        flex-basis: 60%;
    }
    .cart-donation-banner .col-right {
        flex-basis: 40%;
    }
}