{% block sw_cms_element_preview_wwf_banner %}
    <div class="sw-cms-el-preview-wwf-banner">
        <div class="sw-cms-el-preview-wwf-banner__image">
            <img :src="'/wwfdonationplugin/static/product_protect_species.png' | asset" alt="wwf banner logo"/>
        </div>
    </div>
{% endblock %}