{% block sw_cms_preview_block_wwf_banner %}
    <div class="sw-cms-preview-block-wwf-banner">
        <div class="sw-cms-preview-block-wwf-banner__image">
            <img :src="'/wwfdonationplugin/static/banner_sample_image_protect_species_coin-m.png' | asset"
                 alt="wwf banner logo"/>
        </div>
    </div>
{% endblock %}